* {
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
}
body {
  margin: 1em;
  font-family: sans-serif;
}

h2 {
  font-weight: 100;
  margin: 1em 0 0.5em 0;
}

ul:hover li {
  width: 500px;
}

#ease {
  transition: width 2s ease;
}

#easeIn {
  transition: width 2s ease-in;
}

#easeOut {
  transition: width 2s ease-out;
}

#easeInOut {
  transition: width 2s ease-in-out;
}

#linear {
  transition: width 2s linear;
}

/*******/

@keyframes straightShot {
  0% {
    left: 25px;
  }
  100% {
    left: 280px;
  }
}

#table1:hover #cueball1 {
  animation: straightShot 2s ease-out;
  animation-fill-mode: forwards;
}

@keyframes bankShot {
  0% {
    left: 25px;
  }
  33% {
    left: 120px;
    top: 0px;
  }
  66% {
    left: 240px;
    top: 90px;
  }
  100% {
    left: 280px;
  }
}
#table2:hover #cueball2 {
  animation: bankShot 2s ease-out;
  animation-fill-mode: forwards;
}

@keyframes eightball {
  0% {
    left: 300px;
  }

  100% {
    left: 380px;
  }
}

#table3:hover #eightball {
  animation: eighball 2s ease-out 2s;
}
#table3:hover #cueball3 {
  animation: eightball 1s ease-out 1s;
  animation-fill-mode: forwards;
}

/*******/

@keyframes headlineDrop {
  0% {
    font-size: 6em;
    filter: blur(40px);
  }

  100% {
    font-size: 2em;
    filter: blur(0px);
  }
}

h1 {
  animation: headlineDrop 1s ease-in;
}

@keyframes subheadSlide {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

h2 {
  animation: subheadSlide 1s ease-in 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#div1 {
  animation: fadeIn 0.5s linear 0.25s;
  animation-fill-mode: forwards;
}

#div2 {
  animation: fadeIn 0.5s linear 0.25s;
  animation-fill-mode: forwards;
}

#div3 {
  animation: fadeIn 0.5s linear 0.25s;
  animation-fill-mode: forwards;
}

#div {
  opacity: 0;
}
